/***************************************************
    Arrumar HTML e Body
****************************************************/
html, body{
    margin:0;
    overflow:hidden;
}
/***************************************************
    Organizar Header
****************************************************/
header{
    /* analisando... */
    display:flex;
    justify-content: space-between;
    
}
/***************************************************
    Organizar Container
****************************************************/
.container{
    display:flex;
}