*{
    margin:0;
    padding:0;
}
body{
    height:100vh;
    width: 100vw;
    background:linear-gradient(45deg, blue,rgb(64, 64, 255))
}
.container{
    display:flex;
    justify-content: center;
    align-items:center;
}
.menu{
    flex-basis: 20%;
}
.content{
    flex-basis: 80%;
}